<div id="<%= dom_id @document %>" class="usa-prose">
  <h1><%= @document.title %></h1>
  <p><%= @document.description %></p>
  <div class="usa-accordion usa-accordion--bordered">
    <h4 class="usa-accordion__heading">
      <button
        type="button"
        class="usa-accordion__button"
        aria-expanded="false"
        aria-controls="doc-contents"
      >
        Contents
      </button>
    </h4>
    <div id="doc-contents" class="usa-accordion__content usa-prose">
      <pre>
<%= @document.contents.truncate 1000 %>
      </pre>
    </div>
  </div>
  <p><%= external_link "Contents", @document.url %>
</div>

<div class="grid-row flex-align-baseline">
  <p class="tablet:grid-col-6">
    <%= link_to "Edit this document", edit_document_path(@document, locale: I18n.locale), class: "usa-link" %> |
    <%= link_to "Back to documents", documents_path, class: "usa-link" %>
  </p>
  <div class="tablet:grid-col-6 tablet:display-flex tablet:flex-justify-end">
    <%= button_to "Destroy this document", document_path(@document, locale: I18n.locale), method: :delete, class: "usa-button usa-button--secondary" %>
  </div>
</div>
