<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <title>ContinuousMonitoring</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <%= render "application/usa_banner" %>
    <%= render "application/header" %>

    <% if notice.present? %>
      <div class="grid-container">
        <div class="usa-alert usa-alert--success">
          <div class="usa-alert__body">
            <h4 class="usa-alert__heading">Notice</h4>
            <p class="usa-alert__text">
              <%= notice %>
            </p>
          </div>
        </div>
      </div>
    <% end %>

    <% if alert.present? %>
      <div class="grid-container">
        <%= render partial: "application/alert", locals: {heading: "Error", content: alert} %>
      </div>
    <% end %>

    <main id="main-content">
      <div class="grid-container usa-section">
        <%= yield %>
      </div>
    </main>

  </body>
</html>
